<%- include('partials/header'); -%>
</div>
</section>

<div class="conatiner-fluid">
    <section id="edit">
            <% if (lang === "en") { %>
                <h1 class="edit-title">Edit the website</h1> 
            <% } else { %>   
                <h1 class="edit-title">עריכת האתר</h1>
                <% } %> 
              <div class="row">
                <div class="col-2">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <form action="/edit-pages" method="POST">
                            <input type="hidden" value="edit-main" name="editPage">
                            <% if (lang === "en") { %>
                                <button type="submit" class="btn btn-link nav-link">Main</button>      
                            <% } else { %> 
                                <button type="submit" class="btn btn-link nav-link">ראשי</button>
                            <% } %> 
                        </form>
                        </li>
                        <li class="nav-item">
                            <form action="/edit-pages" method="POST">
                            <input type="hidden" value="edit-news" name="editPage">
                            <% if (lang === "en") { %>
                            <button type="submit" class="btn btn-link nav-link">Newslatter</button>
                            <% } else { %> 
                            <button type="submit" class="btn btn-link nav-link">ניוזלטר</button>
                            <% } %> 
                            </form>
                        </li>
                        <li class="nav-item">
                            <form action="/edit-pages" method="POST">
                            <input type="hidden" value="edit-music" name="editPage">
                            <% if (lang === "en") { %>
                            <button type="submit" class="btn btn-link nav-link">Our Music</button>
                            <% } else { %> 
                            <button type="submit" class="btn btn-link nav-link">המוזיקה שלנו</button>
                            <% } %> 
                            </form>
                        </li>
                        <li class="nav-item">
                            <form action="/edit-pages" method="POST">
                            <input type="hidden" value="edit-shows" name="editPage">
                            <% if (lang === "en") { %>
                            <button type="submit" class="btn btn-link nav-link">Shows</button>
                            <% } else { %> 
                            <button type="submit" class="btn btn-link nav-link">הופעות</button>
                            <% } %> 
                            </form>
                        </li>
                        <li class="nav-item">
                            <form action="/edit-pages" method="POST">
                            <input type="hidden" value="edit-about" name="editPage">
                            <% if (lang === "en") { %>
                            <button type="submit" class="btn btn-link nav-link">About</button>
                            <% } else { %> 
                            <button type="submit" class="btn btn-link nav-link">אודות</button>
                            <% } %> 
                            </form>
                        </li>
                        <li class="nav-item">
                            <form action="/edit-pages" method="POST">
                            <input type="hidden" value="edit-success" name="editPage">
                            <% if (lang === "en") { %>
                            <button type="submit" class="btn btn-link nav-link">Success Page</button>
                            <% } else { %> 
                            <button type="submit" class="btn btn-link nav-link">דף הצלחה</button>
                            <% } %> 
                            </form>
                        </li>
                        <li class="nav-item">
                            <form action="/edit-pages" method="POST">
                            <input type="hidden" value="edit-fail" name="editPage">
                            <% if (lang === "en") { %>
                            <button type="submit" class="btn btn-link nav-link">Error Page</button>
                            <% } else { %> 
                            <button type="submit" class="btn btn-link nav-link">דף שגיאה</button>
                            <% } %> 
                            </form>
                        </li>
                        <li class="nav-item">
                            <form action="/edit-pages" method="POST">
                            <input type="hidden" value="edit-epk" name="editPage">
                            <% if (lang === "en") { %>
                            <button type="submit" class="btn btn-link nav-link">EPK Page</button>
                            <% } else { %> 
                            <button type="submit" class="btn btn-link nav-link">דף EPK</button>
                            <% } %> 
                            </form>
                        </li>
                      </ul>
                </div>
                <div class="col-10">
                    <form action="/save" method="post" enctype="multipart/form-data" id="saveForm">
                    <% if (pageToEdit === "edit-main") { %> 
                        <%- include('partials/edit/edit-main') -%>
                    <% } else if (pageToEdit === "edit-news") { %> 
                     <%- include('partials/edit/edit-newslatter') -%>
                     <% } else if (pageToEdit === "edit-music") { %> 
                        <%- include('partials/edit/edit-ourmusic') -%>
                    <% } else if (pageToEdit === "edit-shows") { %>     
                        <%- include('partials/edit/edit-shows') -%>
                    <% } else if (pageToEdit === "edit-about") { %> 
                        <%- include('partials/edit/edit-about') -%>
                    <% } else if (pageToEdit === "edit-success") { %> 
                        <%- include('partials/edit/edit-success') -%>
                    <% } else if (pageToEdit === "edit-fail") { %>              
                        <%- include('partials/edit/edit-fail') -%>
                    <% } else if (pageToEdit === "edit-epk") { %>              
                        <%- include('partials/edit/edit-epk') -%>
                    <% } %> 
                </div>
              </div>
    </section>
</div>

<%- include('partials/footer'); -%>
