<%- include('partials/header'); -%>
</div>
</section>

<div class="conatiner-fluid">
    <section id="edit">
        <h1 class="edit-title">Edit the website</h1>    
        <form action="/save" method="post">
        <div class="row">
            <div class="col-lg-6">
                <h3>Main Paragraph</h3>
                <textarea name="mainPara" cols="80" rows="1"><%= mhe.paragraph %></textarea>
            </div>
            <div class="col-lg-6">
                <h3>Main Title</h3>
                <textarea name="mainTitle" cols="80" rows="1"><%= mhe.title %></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h3>Newslatter Title</h3>
                <textarea name="newslatterTitle" cols="80" rows="1"><%= nhe.title %></textarea>
            </div>
            <div class="col-lg-6">
                <h3>Our Music Title</h3>
                <textarea name="ourmusicTitle" cols="80" rows="1"><%= omhe.title %></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3>Shows Title</h3>
                <textarea name="showsTitle" cols="80" rows="1"><%= she.title %></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h3>Shows first paragraph</h3>
                <textarea name="showsPara" cols="80" rows="1"><%= she.paragraph %></textarea>
            </div>
            <div class="col-lg-6">
                <h3>Shows second paragraph</h3>
                <textarea name="showsPara1" cols="80" rows="1"><%= she.paragraph1 %></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h3>Shows third paragraph</h3>
                <textarea name="showsPara2" cols="80" rows="1"><%= she.paragraph2 %></textarea>
            </div>
            <div class="col-lg-6">
                <h3>Shows forth Paragraph</h3>
                <textarea name="showsPara3" cols="80" rows="1"><%= she.paragraph3 %></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3>Shows fifth paragraph</h3>
                <textarea name="showsPara4" cols="80" rows="1"><%= she.paragraph4 %></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h3>Shows first link</h3>
                <textarea name="showsLink" cols="80" rows="1"><%= she.link %></textarea>
            </div>
            <div class="col-lg-6">
                <h3>Shows second link</h3>
                <textarea name="showsLink1" cols="80" rows="1"><%= she.link1 %></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h3>Shows third link</h3>
                <textarea name="showsLink2" cols="80" rows="1"><%= she.link2 %></textarea>
            </div>
            <div class="col-lg-6">
                <h3>Shows forth link</h3>
                <textarea name="showsLink3" cols="80" rows="1"><%= she.link3 %></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3>Shows fifth link</h3>
                <textarea name="showsLink4" cols="80" rows="1"><%= she.link4 %></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h3>Success Title</h3>
                <textarea name="successTitle" cols="80" rows="1"><%= suhe.title %></textarea>
            </div>
            <div class="col-lg-6">
                <h3>Fail title</h3>
                <textarea name="failTitle" cols="80" rows="1"><%= fhe.title %></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3>Fail Paragraph</h3>
                <textarea name="failPara" cols="80" rows="1"><%= fhe.paragraph %></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h3>About Title</h3>
                <textarea name="aboutTitle" cols="80" rows="1"><%= auhe.title %></textarea>
            </div>
            <div class="col-lg-6">
                <h3>About paragraph</h3>
                <textarea name="aboutPara" cols="80" rows="1"><%= auhe.paragraph %></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <button type="submit" class="btn btn-dark">Save Changes</button>
            </div>
        </form>  
            <div class="col-lg-4">
                <form action="/lastmod" method="post">
                <button type="submit" class="btn btn-dark">Restore to last modified data</button>
                </form>
            </div>
            <div class="col-lg-4">
                <form action="/default" method="post">
                <button type="submit" class="btn btn-dark">Restore to default values</button>
                </form>
            </div>
        </div>
    </section>
</div>

<%- include('partials/footer'); -%>
